.menu {
    list-style: none;
    padding: 0;
    width: 505px;
    /*height: 30px;*/
    line-height: 200%;
    border: 1px black solid;
}
.item {
    position: relative;
    left: 2px;
    background: yellow;
}

.menu>li {
    float: left;
    width: 100px;
    text-align: center;
    border-right: 1px black solid;
}

.sub-menu {
    position: absolute;
    list-style: none;
    background: yellow;
    border: 1px black solid;
    padding: 0;
    width: 100px;
    display: none;
}
.sub-menu>li {
    border-bottom: 1px black solid;
}
.item:hover {
    background: red;
}

.item:hover .sub-menu {
    display: block;
}